.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}
/* Bootstrap */
.containerqueofrecemos , .banner {
	position: relative;
}
.banner img {
	width: 100%;
}

.cajablanca{
	background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 15px 24px -9px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 15px 24px -9px rgba(0,0,0,0.16);
    box-shadow: 0px 15px 24px -9px rgba(0,0,0,0.16);
}

.padding1{
	padding: 10px 0px 15px 40px;
}

.containerbanner {
	position: absolute;
    width: 55%;
    margin: 0px auto;
    margin-right: 10%;
    top: 70%;
    left: 37%;    
    color: #A5A5A5;
}

.containertits {
    position: absolute;
    top: 37%;
    left: 49%;
    transform: translate(-50%, -50%);
    text-align: right;
}

.containertits h1{
	padding: 0px;
	margin-top: 90px;
}

.tit1{
	color:#C25375 !important;
}
.tit2 {
	color:#004684;
}
.containerbanner ul li{	
    margin-left: 15px;
}

.containerbanner ul li::before {
  color: #C25375; 
}

.queofrecemos {
	width: 70%;
}

.imgqueofrecemos{
	position: absolute;
    top: -30%;
    width: 39%;
    right: 0px;;
}

.containerpages{
	margin-top: 13%;
}

.containerpages2 {
      margin-top: 4%;
  }

.alcenter{
	text-align: center;
}

.alright {
	text-align: right;
}

.estatuto {
	border: 1px solid #233D54;
	margin-top: 12px;
    border-radius: 10px;
}

.accordion-head i{
    position: absolute;
    right: 25px;
    top: 25%;
    color: #ac3a3d;

}

.estatuto span {
	color: #ac3a3d;
}
.estatuto h3 {
	font-weight: normal !important;
}

.accordion-head > .collapsed > i:before{
    content: "\f067";
}

@media (max-width: 1400px) {
	.containerpages {
    	margin-top: 16%;
	}

  .containerpages2 {
      margin-top: 12%;
  }
}

@media (max-width: 1330px) {
	.containerbanner {
    	top: 80%;   
	}

	.containerpages {
    	margin-top: 19%;
	}

    .containerpages2 {
      margin-top: 15%;
  }
}

.culturaservicio{
    list-style-type: none;
}

.culturaservicio li {
    color: #A5A5A5;
}
.culturaserv {
    position: absolute;
    top: 0%;
    left: -20%;
    font-size: 83px;
    letter-spacing: -4px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    color: #004584;
}
    
.divculturas{ 
    padding-top: 12%;
}

.txtalleft{
    text-align: left;
}

.containerjunta {
    background: #f9f9f9;
}

.csjunta {
    padding: 5%;
    margin: 11% 19%;
    background: #FFF;
    padding-bottom: 20%;
    position: relative;
}

.margincinco {
    margin-top: 5%;
}
.datossinglejunta {
    background: #004584;
    position: absolute;
    left: 20%;
    bottom: -14%;
    width: 222px;
    padding: 10px 20px;
    border-radius: 10px;
}

.datossinglejunta h3, .datossinglejunta p {
    color: #FFF;
    margin: 0px;
}

.datossinglejunta h3, .datossinglestaff h3 {
    font-size: 18px;
}

.datossinglejunta p, .datossinglestaff p {
    font-size: 15px;
}

.datossinglestaff {
    margin-top: 15px;
}
.datossinglestaff h3, .datossinglestaff p{
    color: #989C9F;
}

.containerstaff {
    margin-top: 10%;
}

.titsstaff {
    margin-bottom: 5%;
}

.borderibus {
    -webkit-box-shadow: -23px 25px 0px -3px rgba(0,70,132,1);
    -moz-box-shadow: -23px 25px 0px -3px rgba(0,70,132,1);
    box-shadow: -23px 25px 0px -3px rgba(0,70,132,1);
}

.listred {
  margin-top: 10%;
}

.listred li{
  color: #A5A5A5; 
  margin-bottom: 10px;
  /*list-style: none;   */

}

.listred li:before, .listdoscolum li:before{
      margin-bottom: 4px;
    display: inline-block;
    content: '';
    background: #C9012B;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    margin-right: 15px;
}

.containerbannerbusiness{
	position: absolute;
  width: 36%;
  margin: 0px auto;
  margin-right: 10%;
  top: 75%;
  left: 48%;
  color: #A5A5A5;
  font-size: 20px;
  z-index: 99;
}

.paddingbusiness{
	padding: 30px 35px;
}

.mtop7{
	margin-top: 7%;
}

.containerbusi1 h3  {
	color: #A5A5A5;
}

.containerbusi1 ul {
	margin-top: 10px;
}

.bordright{
	border-right: 1px solid #C25375; 	
}

.marg3p p{
	margin: 3px;
}

.centd{
	margin: 0px auto;
	margin-top: 20px;
}

.cf h4{
	padding: 0px;
	color: #004584;
  margin: 5px;
}

.cf input[type="text"], .cf input[type="tel"], .cf input[type="email"]{
	background: transparent;
}

.btnenviar, .tipboton{
	color: #FFF;
    border-radius: 10px;
    padding: 7px 25px;    
    background: #004584;
    margin: 0px auto;
}
.btnenviar span, .tipboton span{
	color : #5AAAF3;
}
.contbuttonfrm{
    width: 100%;
    text-align: center;
}

.bimgdetevent {
    -webkit-box-shadow: -25px -25px 0px -3px rgba(0,70,132,1);
    -moz-box-shadow: -25px -25px 0px -3px rgba(0,70,132,1);
    box-shadow: -25px -25px 0px -3px rgba(0,70,132,1);
  }

.conteventdeta{
    width: 61%;
    margin-top: -135px;     
    float: right;   
    -webkit-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.36);
    box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.36);
    background: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    position: relative;
}

.fechadet {
    font-size: 14px;    
    color: #5C6167;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:bold;
}

.cend {
  margin: 0px auto;
}

.containerdett2 {
    display: inline-block;
    width: 100%;
}
.descdetevento {
  margin-top: 15px;
  margin-bottom: 10px;
}
.spandatosevento{
    font-size: 14px;
    padding-top: 3px;
    color: #5C6167;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}
.spandatosevento2{
    font-size: 16px;
    padding-top: 3px;
    color: #5C6167;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}
.separadorgris {
    background: #c8c8c8;
    height: 2px;
    opacity: 0.2;
    width: 100%;
    margin-bottom: 10px;
}

.topdiez {
  margin-top: 10px;
}

.spandatosevento i{
  margin-right: 5px;
  color: #004584;
}

.marcoabajo {
    height: 62%;
    position: absolute;    
    width: 39%;    
    border-right: 9px solid #50acff;
    border-left: 9px solid #50acff;
    border-bottom: 9px solid #50acff;
    margin-left: 15%;
}

.marcoabajo2 {
    height: 62%;
    position: absolute;
    width: 55%;
    border-right: 9px solid #50acff;
    border-left: 9px solid #50acff;
    border-bottom: 9px solid #50acff;
    margin-left: 70%;

}

.marcoabajo3 {
    height: 40%;
    position: absolute;
    width: 39%;
    border-right: 9px solid #50acff;
    border-left: 9px solid #50acff;
    border-bottom: 9px solid #50acff;
    margin-left: 15%;

}

.titrojo{
    color: #C9012B;
    font-weight: bold;
}

.inpcan
{
    padding: 0px !important;
    margin: 0px auto !important;
    width: 50% !important;
}
.cf input[type=checkbox]{
    margin-top: 35%;
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}
  
.checkrecoger span, .rowe span{
  color : #004584;
  font-weight: bold;
}  
.rowe span{
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}

.t1 {
  font-size: 18px !important;
}

.tarjeta {
  width: 100% !important;
  margin-top: 10px;
}
.rowe p{
  margin-bottom: 0px;
}

.textcvv  {
    color: #A5A5A5 !important;
    font-size: 16px !important;
    width: 86%;
    margin-top: 0px !important
}

.rowe{
  margin-bottom: 10px;
}

.cformev select {
  width: 100%;
}
.containerbannercomites{
    position: absolute;
    width: 35%;
    margin: 0px auto;
    margin-right: 10%;
    top: 70%;
    left: 45%;
    color: #A5A5A5;
    z-index: 99;
}

/*
.listred li:before{
    color : #C25375 !important;
    content: "\2022";
}*/
.has-sidebar.woocommerce-page:not(.error404) #primary {
  width: 100% !important;
}

.woocommerce-breadcrumb {
  margin-top: 20px;
}

.contimgcenter:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.concomites{
  display: flex !important;
}
.contimgcenter img{
    margin: 0 auto;
    /*display: block;*/
}
.contimgcenter {
  text-align: center;
}
.paddingcomites {
  padding: 25px 25px 30px 30px;
}

.h4comites {
    font-size: 18px !important;
}
.ulcomite li {
  margin: 0px;
}

.lineacom1{
  position: absolute;
  left: -15%;
}
    
.imgcomcuadro {
  position: absolute;
  left: 0px;
}

.imgcomcuadroderecha {
  position: absolute;
  right: 0px;
}

.containcomcuadroizq {
  margin-top: 60px;
}

.containerbeforecuad{
  margin-top: 50px;
}

.lineacom3 {
 position: absolute;
 right: -15%;
}

.lineajunta{
 position: absolute;
 left: 10%;
}
.tit2junta{
	margin-left: 10%;
}
.sliderdirectorio .imgdetalle img {
	width: 170px;
	height: 176px;
	border: 6px solid #6c93b7;
}


.sliderempresa a {
  display: contents !important;
}
.sliderempresa .imgdetalle {
    display: table-cell;
    vertical-align: middle;
    position: relative;
}
.sliderempresa .imgdetalle img {
      width: initial!important;
    height: initial!important;
        -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top center;
    object-position: top center;
    max-width: 100%;
    max-height: 100%
}

/*
.sliderempresa:before {
  content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
    */

.sliderempresa{
   display: table !important;
   min-height: 176px;
   text-align: center;
}

.butdir .slick-prev,.butemp .slick-prev {
	left: auto !important;
}

.butdir .slick-next {
	right: 18% !important;
}

.butemp .slick-next {
  right: 0% !important;
}

.lineastaff{
 position: absolute;
 left: 42%;
}
.tit2staff{
  margin-left: 28%;
}

.dblock div {
  display: inline-block;
}

.containcredo {
  margin-top: 10px;
  padding-right: 12px;
  padding-right: 58px;
}

.btnvermaseventos .btn-vermas {
  font-weight: initial !important;
  font-size: 20px;
}

.datosevento {
    padding-left: 0px !important;
}

.containercuadroblue {
    height: 308px;
    position: absolute;
    width: 58%;
    border-top: 9px solid #004684;
    border-left: 9px solid #004684;
    border-bottom: 9px solid #004684;
    margin-left: 55%;
}

.nomarglef {
  margin-left: 0px !important;
}

.balianza{
  font-size: 18px;
}

.leftblue {
  left: 49%;
  width: 548px;
  font-size: 18px;
} 

.text-largo {
  font-size: 4vw !important;
}

.consultoria2 {
  font-size: 7vw !important;
}

.containertitslargo{
  width: 100%;
}

.alleft{
  text-align: left !important;
}

@media (min-width: 1601px)
{
  .containerpagessobreamcham {
      margin-top: 15%;
  }
}
@media (max-width: 1600px)
{
  .containerpagessobreamcham {
    margin-top: 20%;
  }
}
@media (max-width: 1390px)
{
  .containerpagessobreamcham {
    margin-top: 30%;
  }
}

@media (max-width: 1230px)
{
  .containerpagessobreamcham {
    margin-top: 35%;
  }
}

.tituloestatutos {
  font-size: 83px!important;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  color: #004584;
  padding-bottom: 0px;
  letter-spacing: -3px; 
  margin-bottom: 5px;
  margin-left: 20px;
}

.culturaservicio li {
  margin-left: 0px;
}



.alderecha{
  right: 0px;
  position: absolute;
}

.divculturas h3{
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
}


@media (max-width: 1200px)
{
  .imgcomcuadroderecha, .imgcomcuadro {
    display: none;
  }
}

.visas-margen-linea {
    position: absolute;
    right: 0px;
    bottom: 41%;
}

@media (min-width: 1580px)
{
  .mtopbusiness{
      margin-top: 15%;
   }
}

@media (min-width: 1420px) and (max-width: 1579px)
{
  .mtopbusiness{
      margin-top: 22%;
   }
}

@media (min-width: 1360px) and (max-width: 1419px)
{
  .mtopbusiness{
      margin-top: 26%;
   }
}


@media (min-width: 1280px) and (max-width: 1359px)
{
  .mtopbusiness{
      margin-top: 29%;
   }
}

.tlar {
  margin-left: 32%;
}

.w100 {
  width: 100% !important;
}

.top5{
  margin-top: 5%;
}

.contderjun{
    height: 272px;
    position: absolute;
    width: 58%;
    border-top: 9px solid #004684;
    border-right: 9px solid #004684;
    border-bottom: 9px solid #004684;
    border-left: 9px solid #004684;
    margin-left: 55%;
    z-index: 0;
}

.imgtarjetas {
  margin-top: 15px;
}

.margleeven {
  margin-left: 20px;
}

.nopadleft{
  padding-left: 0px !important;
}

.topveinte {
  margin-top: 20px;
  display: inline-block;
}

.rowefirst span{
  margin-top: 5px;
}